@font-face { 
    font-family: "Montserrat";  
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");  
    font-style: normal;  
    font-weight: normal;  
}

@font-face {font-family: "Mistral"; src: url("//db.onlinewebfonts.com/t/1cfac2832ad49f16a3ea6b5c2287af2f.eot"); src: url("//db.onlinewebfonts.com/t/1cfac2832ad49f16a3ea6b5c2287af2f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1cfac2832ad49f16a3ea6b5c2287af2f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1cfac2832ad49f16a3ea6b5c2287af2f.woff") format("woff"), url("//db.onlinewebfonts.com/t/1cfac2832ad49f16a3ea6b5c2287af2f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1cfac2832ad49f16a3ea6b5c2287af2f.svg#Mistral") format("svg"); }

body{ 
    background-color: rgb(245, 246, 246); 
    color: rgb(19, 18, 18); 
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px; 
    font-weight: normal; 
    margin: 0; 
}